In [1]:
str1, str2 = input().strip().split(' ')
print(str1, str2, sep='')

양수

In [2]:
#17
import numpy as np
a = list(map(int, input('3개의 숫자를 입력하세요 :').split(' ')))
print(np.max(a))

3

In [3]:
#18
a = input('요일을 입력하세요 : ')

if a[0] =='토' or a[0]=='일':
    print(f'{a[0]}요일은 주말입니다.')
else:
    print(f'{a[0]}요일은 평일 입니다.')

일요일은 주말입니다.

In [4]:
#19
a = int(input('점수를 입력하세요 : '))
if a >= 90:
    print('A')
elif a >= 80:
    print('B')
elif a >= 70:
    print('C')
elif a >=60:
    print('D')
else:
    print('F')

F

In [5]:
#20
a = int(input('점수를 입력하세요 : '))
if a > 100:
    print('바보')
else: 
    if a >= 90:
        print('A')
    elif a >= 80:
        print('B')
    elif a >= 70:
        print('C')
    elif a >=60:
        print('D')
    else:
        print('F')

바보

In [6]:
#21
a = int(input('점수를 입력하세요 : '))
if a > 100:
    print('바보')
elif a < 0:
    print('멍청이')
else: 
    if a >= 90:
        print('A')
    elif a >= 80:
        print('B')
    elif a >= 70:
        print('C')
    elif a >=60:
        print('D')
    else:
        print('F')

멍청이

In [7]:
#22
id = 'admin'
password = '1234'
a = input('아이디와 비번을 입력하세요 : ').split(' ')
if a[0] == id and a[1] == password:
    print('로그인 성공')
else:
    print('로그인 실패')

로그인 실패

In [8]:
#23
a = input('3개의 숫자를 입력하세요 : ').split(' ')
a.sort()
print(a)

['1', '3', '9']

In [9]:
#24
import numpy as np
a = list(map(int, input('5개 과목의 점수들을 입력하세요 : ').split(' ')))
mean_a = np.mean(a)
if mean_a > 100:
    print('바보')
elif mean_a < 0:
    print('멍청이')
else: 
    if mean_a >= 90:
        print('A')
    elif mean_a >= 80:
        print('B')
    elif mean_a >= 70:
        print('C')
    elif mean_a >=60:
        print('D')
    else:
        print('F')

A

In [10]:
#25
number = [1, 4, 4, 4, 4, 4, 4]
set(number)

{1, 4}

In [11]:
#26
number = [1, 4, 4, 4, 4, 4, 4, 5]
number.remove(5)
number

[1, 4, 4, 4, 4, 4, 4]

In [13]:
#27
import numpy as np
number = [1,2,3,4,5]
number.remove(2)

mean_number = np.mean(number)
print(mean_number)

3.25

In [12]:
#28
number = [1,2,3,4,5]
number[2:]

[3, 4, 5]

In [14]:
#29
number = [1,4,4,4,4,4,4.5]
count = 0
for i in number:
    if i == 4:
        count = count + 1
print(count)

5

In [16]:
#30
#모든 4의 인덱스 위치???
number = [1,4,4,4,4,4,4.5]
number.index(4)

1

In [15]:
#31
list_1 = [1,2,3]
list_2 = [4,5,6]
a = list_1+list_2
print(a)

[1, 2, 3, 4, 5, 6]

In [23]:
#32
number = [[1,2],[3,4],[5,6]]
result = 0
for i in range(3):
    for j in range(2):
        result = result + number[i][j]
print(result)

21

In [18]:
#33
a = 11
b = 22
change = 0
change = a
a = b
b = change

print(a,b)

22 11

In [19]:
#34
a = 3
b = 6
c = 9

In [20]:
#35
a = (44,33,22,11)
b =list(a)
type(b)
b

[44, 33, 22, 11]

In [21]:
#36
a = [11,22,33,44]
a[0] = 110
print(a)

b = (11,22,33,44)
b[0] = 110
print(b)

[110, 22, 33, 44]

TypeError: 'tuple' object does not support item assignment

In [22]:
#37
a = [44,33,22,11]
b = tuple(a)
type(b)
b.append()
#튜플은 중복은 가능하지만 값 변경이 안되기 때문에 추가, 삭제 등이 안된다

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#38
#차이점: 리스트는 값 변경 가능, 튜플은 값 변경이 안된다
#튜플
#39
#튜플 : 값을 변경하지 않으니까 고려해야할게 별로 없어서?? 복잡하지 않으니까??