In [12]:
#40
a = {}
a['name'] = '흰둥이'
a

{'name': '흰둥이'}

In [13]:
#41
a = {'name' : '흰둥이',
     'age' : 1000}
a['age']

1000

In [10]:
#42
a = {'apple' : 111, 'banana' : 222, 'cherry' : 'babo'}
for i in a:
    print(i)

apple
banana
cherry

In [11]:
#43
for i in a:
    print(a[i])

111
222
babo

In [35]:
#44
a = {'apple' : 111, 'banana' : 222, 'cherry' : 'babo'}

for i in a.values():
    if i == 'babo':
        print('babo')

babo

In [21]:
#45
del a['apple']
a

{'banana': 222, 'cherry': 'babo'}

In [23]:
#46
a = {'apple' : 111, 'banana' : 222, 'cherry' : 'babo'}
a['banana'] = 'babooooooo'
a

{'apple': 111, 'banana': 'babooooooo', 'cherry': 'babo'}

In [34]:
#47
a = {'a' : 1, 'b' : 2}
b = {'c' : 3, 'd' : 4}
a.update(b)
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [37]:
#48
a = {'apple': 111, 'banana': 222, 'cherry': 'babo'}
for i in a.items():
    print(i)

('apple', 111)
('banana', 222)
('cherry', 'babo')

In [76]:
#49
a = {'apple': 111, 'banana': 222}
print(a.get('cherry','없어어어어어'))

없어어어어어

In [39]:
#50
len(a)

3

In [40]:
#51
type(a)

dict

In [74]:
#52
a = {'apple': 111, 'banana': '222', 'cherry': 333}
result = 0
for i in a:
    if type(a[i]) != int:
        a[i] = int(a[i])

    result = result + a[i]
result

666

In [6]:
#53
a = 'abcd abcd babo'
suma = 0
sumb = 0
sumc = 0
sum_ = 0
sumo = 0
for i in range(len(a)):
    if a[i] == 'a':
        suma = suma + 1
    elif a[i] == 'b':
        sumb = sumb + 1
    elif a[i] == 'c':
        sumc = sumc + 1
    elif a[i] == ' ':
        sum_ = sum_ + 1
    else:
        sumo = sumo + 1
result = {'a' : suma, 'b' : sumb, 'c' : sumc, ' ' : sum_, 'o' : sumo}
result

{'a': 3, 'b': 4, 'c': 2, ' ': 2, 'o': 3}

In [55]:
#54
a = {'apple': 111, 'banana': 222, 'cherry': 'babo'}
keys = list(a)
values = list(a.values())
print(keys, values)

['apple', 'banana', 'cherry'] [111, 222, 'babo']

In [59]:
#55
a = {
    '짱구':{
        '이름': '짱구',
        '나이': 5,
        '특징': '진한 눈썹'
    },
    '짱아':{
        '이름': '짱아',
        '나이': 2,
        '특징': '우주최강귀여움'
    }
}
print(a)

{'짱구': {'이름': '짱구', '나이': 5, '특징': '진한 눈썹'}, '짱아': {'이름': '짱아', '나이': 2, '특징': '우주최강귀여움'}}

In [60]:
#57
#딕셔너리는 순서가 없다(인덱스로 접근이 불가능)=메모리에 비순차적 저장(메모리 사용량 큼) 리스트는 순서가 존재한다=메모리에 순차적 저장

#58
#딕셔너리에서 키에 직접 접근하면 키가 존재하지 않을 경우 KeyError가 발생하는데 이때 get함수를 사용하면 키가 존재하지 않을때도 예외를 발생시키지 않고 기본값을 반환한다.

{'이름': '짱구', '나이': 5, '특징': '진한 눈썹'}